ion-content {
  --background: linear-gradient(to bottom, #171717, #575757);
}

ion-card {
  margin: 1rem;
  --ion-card-background: var(--ion-color-light);
  --ion-border-radius: 8px;
  border: 2px solid var(--ion-color-primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--ion-color-primary);
}

ion-card-subtitle {
  font-size: 1rem;
  color: var(--ion-color-medium);
}

ion-list {
  margin: 1rem;
}

.pregunta-label h2 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--ion-color-dark);
  margin-bottom: 0.5rem;
}

.opciones-lista {
  padding: 0.5rem 1rem;
  border: 2px solid var(--ion-color-secondary);
  border-radius: 8px;
  background-color: var(--ion-color-light-tint);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.opcion-item {
  --background: var(--ion-color-light);
  --ion-item-border-color: var(--ion-color-secondary);
  border-bottom: 1px solid var(--ion-color-secondary);
  margin: 0.3rem 0;
  border-radius: 4px;
  padding: 0.5rem;
  transition: background-color 0.3s;
}

.opcion-item:hover {
  background-color: var(--ion-color-secondary-tint);
}

ion-radio {
  --color: var(--ion-color-primary);
}

ion-button {
  margin: 1rem;
  --border-radius: 8px;
}

ion-button[color="primary"] {
  --background: var(--ion-color-primary);
  --background-hover: var(--ion-color-primary-shade);
  --color: white;
}
