<ion-content>
  <div class="cabecera">
      <span class="titulo"></span>
     <ion-img class="logo" src="../../assets/img/iconapp.png" alt="password"></ion-img>
    </div>
   <h1>Recuperar contraseña</h1>
    <form class="form" (submit)="recuperar()">
      <ion-item>
      <ion-input label="Correo Electrónico" labelPlacement="floating" [counter]="true" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-button type="submit">Recuperar</ion-button>
      <a [routerLink]="('')">Volver</a>
  </form>
  </ion-content>
