<app-header></app-header>
<ion-content >

  <div class="d-flex-center">
    <form (submit)="loginUser()">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit">Iniciar Sesión</ion-button>

      @if(error){
        <div>
          <p>{{error}}</p>
        </div>
      }
    </form>
  </div>

</ion-content>
