<ion-content>
  <div class="cabecera">
    <span class="titulo"></span>
    <ion-img class="logo" src="" alt=""></ion-img>
  </div>
  <div class="form">
    <h1>Registro</h1>
  <form (submit)="registerUser()">
    <ion-item>
      <ion-input label="Nombre" labelPlacement="floating" [counter]="true" maxlength="50" [(ngModel)]="userData.nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Correo Electrónico" labelPlacement="floating" [counter]="true" maxlength="50" [(ngModel)]="userData.email" name="correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input  type="password" label="Contraseña" labelPlacement="floating" [counter]="true" maxlength="50" [(ngModel)]="password" name="contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select [(ngModel)]="userData.rol" name="rol" labelPlacement="floating" label="Escoja su rol">
        <ion-select-option value="entrenador">preparador</ion-select-option>
        <ion-select-option value="entrenado">entrenado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit">Registrarse</ion-button>
    <a [routerLink]="('')">Volver</a>

  </form>
  </div>
</ion-content>
