<app-header></app-header>
<div *ngIf="!formulario" class="loading-overlay">
  <div class="loading-container">
    <ion-spinner name="crescent" class="custom-spinner"></ion-spinner>
    <p class="loading-text" style="font-size: larger; font-weight: bold;">Cargando datos...</p>
  </div>
</div>
<ion-content>
  <div *ngIf="formulario">
    <ion-header>
      <ion-toolbar>
        <ion-title>Respuestas del Formulario</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
        <!-- Iterar sobre respuestas -->
        <ion-item-group *ngFor="let respuesta of formulario.respuestas; let i = index">
          <!-- Usuario que respondió -->
          <ion-item (click)="toggleRespuestas(i)" detail>
            <ion-label>
              <h2>{{ respuesta.username }}</h2>
            </ion-label>
          </ion-item>

          <!-- Mostrar respuestas de usuario al desplegar -->
          <ion-list *ngIf="respuestasVisibles[i]">
            <ion-item *ngFor="let pregunta of formulario.preguntas; let j = index">
              <ion-label>
                <h3>{{ pregunta.texto }}</h3>
                <p>{{ respuesta.respuestas[j] || 'Sin respuesta' }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-item-group>
      </ion-list>
  </div>
</ion-content>
