<ion-item>
  <ion-label position="stacked">Texto de la Pregunta</ion-label>
  <ion-input [(ngModel)]="question.texto" placeholder="Escribe la pregunta"></ion-input>
</ion-item>

<ion-item *ngFor="let opcion of question.opciones; let i = index">
  <ion-label position="stacked">Opción {{ i + 1 }}</ion-label>
  <ion-input [(ngModel)]="question.opciones[i]" placeholder="Escribe la opción"></ion-input>
  <ion-button color="danger" (click)="removeOption(i)">Eliminar</ion-button>
</ion-item>

<ion-button expand="block" (click)="addOption()">Agregar Opción</ion-button>
