<ion-content>
  <app-header></app-header>
  <div class="saludar">
    @if (user!==null){
      <span class="saludo">¡Bienvenido <span class="nombre">{{user.nombre}}</span>!</span>
    }
  </div>
  <div class="contenedor-menu">
    <div class="menu">
      <ion-button [routerLink]="('/preparador/perfil')" class="boton">Perfil</ion-button>
      <ion-button [routerLink]="('/preparador/crearforms')" class="boton">Crear Formulario</ion-button>
      <ion-button [routerLink]="('/preparador/preparador-forms')" class="boton">Mis Formularios</ion-button>
    </div>
  </div>
</ion-content>
