ion-content {
    --background: #acffe3d6; // Fondo blanco para todo el contenido
    display: flex;
    flex-direction: column; // Asegura que los elementos hijos se apilen verticalmente
    padding: 0; // Elimina el padding para evitar desplazamientos
    box-sizing: border-box;
  }
  
  app-header {
    flex-shrink: 0; // Evita que el header se encoja
  }
  
  .contenedor-menu {
    display: flex;
    justify-content: center; // Distribuye los elementos uniformemente
    align-items: center;
    padding: 20px;
    height: 80%;
    width: 100%; // Asegura que el contenedor ocupe todo el ancho
    box-sizing: border-box; // Incluye el padding en el ancho total
    flex-shrink: 0; // Evita que el contenedor se encoja
  }
  
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px; /* Espaciado entre cuadros */
    padding: 20px;
    width: 90%;
    max-width: 600px;
    justify-content: center;
  }
  
  ion-button.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 100px;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  ion-button.boton:hover {
    --background: #0056b3;               /* Cambiar color al pasar el mouse */
  }
  
  ion-icon.icono {
    font-size: 40px;
  }
  