<ion-content>
  <app-header></app-header>
  <div class="contenedor-menu">
    <div class="menu">
      <ion-button [routerLink]="('')" class="boton"><ion-icon name="flash-outline" class="icono"></ion-icon>Perfil</ion-button>
      <ion-button [routerLink]="('')" class="boton"><ion-icon name="newspaper-outline" class="icono"></ion-icon>Crear Formulario</ion-button>
      <ion-button [routerLink]="('')" class="boton"><ion-icon name="newspaper-outline" class="icono"></ion-icon>Mis Formularios</ion-button>
    </div>
  </div>
</ion-content>
