<app-header></app-header>
<ion-header>
  <ion-toolbar>
    <ion-title>Mis Formularios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="form-list-container">
    <ion-row *ngFor="let form of formularios">
      <ion-col size="12">
        <ion-card class="form-card">
          <ion-card-header>
            <ion-card-title>{{ form.form_name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Respuestas:</strong> {{ form.cantitad_respuestas }}</p>
            <div class="button-group">
              <ion-button expand="block" fill="outline" color="primary" (click)="Estadisticas(form.id)">
                Ver Detalles
              </ion-button>
              <ion-button expand="block" fill="outline" color="danger" (click)="eliminarFormulario(form.id)">
                Eliminar
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
