ion-list {
  margin-top: 1rem;
}

ion-item {
  --background: var(--ion-color-light);
  --border-color: var(--ion-color-medium);
  border-radius: 8px;
  margin: 0.5rem 0;
  padding: 1rem;
}

ion-label h2 {
  font-size: 1rem;
  font-weight: bold;
}

ion-label p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

ion-button {
  --border-radius: 4px;
}

ion-button[color="primary"] {
  --background: var(--ion-color-primary);
  --background-hover: var(--ion-color-primary-shade);
  --color: var(--ion-color-light);
}

ion-button[color="secondary"] {
  --background: var(--ion-color-secondary);
  --background-hover: var(--ion-color-secondary-shade);
  --color: var(--ion-color-light);
}

ion-button:disabled {
  --background: var(--ion-color-medium);
  --color: var(--ion-color-light);
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #19d7f9;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-spinner {
  width: 80px;
  height: 80px;
  color: #ffffff;
}

.loading-text {
  margin-top: 16px;
  font-size: 18px;
  color: #ffffff;
}
